<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/404.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Pacifico&family=Rambla&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="error">
        <img src="https://cdn.dribbble.com/users/605899/screenshots/4144886/pikabu.gif" width="59%">
    </div>
    <div class="volver">
        <h1>Ups, página no encontrada, volver al <a href="/">Inicio</a></h1>
    </div>
</body>
</html>