<footer>
    <div class="arriba">
        <div class="atencion">
            <h1>Atención al cliente</h1>
            <a>Envíos y devoluciones</a>
            <a>Contacto</a>
        </div>
        <div class="ayuda">
            <h1>Ayuda</h1>
            <a>Como vender en Flaffy Flair</a>
            <a>Pagos</a>
        </div>
        <div class="metodos">
            <h1>Métodos de pago</h1>
            <div class="iconos">
                <i class="fa-brands fa-cc-paypal"></i>
                <i class="fa-brands fa-cc-apple-pay"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-visa"></i>
            </div>
        </div>
    </div>

    <div class="medio">
        <div class="acerca">
            <h1>Acerca de Flaffy Flair</h1>
            <a>Preguntas frecuentes</a>
            <a>Novedades</a>
        </div>
        <div class="aviso">
            <h1>Aviso legal</h1>
            <a>Términos y condiciones</a>
            <a>Política de privacidad</a>
        </div>
        <div class="redes">
            <h1>Redes sociales</h1>
            <div class="iconos">
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>

    <div class="abajo">
        <div class="copy">
            <i class="fa-regular fa-copyright"></i>
            <p>2023 Flaffy Flair. Todos los derechos reservados</p>
        </div>
        <div class="logoo">
            <img src="/sources/logofinal1.png" width="50px">
        </div>
    </div>
</footer>