<div class="paginanav">
    <header class="header">   
        <nav>
            <ul class="links">
                <li><a href="/">Inicio</a></li> 
                <li><a href="">Novedades</a></li> 
                <li><a href="">Ofertas</a></li> 
                <li><a href="/vistamarcas">Marca</a></li> 
            </ul>
        </nav>

        <div class="logotipo">
            <div class="logo">
                <img src="/sources/logofinal1.png">
            </div>
            <div class="logotipo2">
                <img src="/sources/logofinal2.png">
            </div>
        </div>
    
        <div class="boton1">
            <a class="btn" href="#popup1"><button>Iniciar sesión</button></a>
            <div id="popup1" class="caja-popup">
                <div class="popup">
                    <div class="foto6">
                        <img src="https://wallpaper-house.com/data/out/12/wallpaper2you_487130.jpg">
                    </div>
                    <div class="datos">
                        <img src="/sources/logofinal2.png">
                        <a href="#" class="cerrar">&times;</a>
                        <div class="linea">
                            <a>Iniciar sesión</a>
                            <a href="#popup2">Registrarme</a>
                        </div>
                        <div class="contenido">
                            <input type="text" placeholder="Nombre de usuario">
                            <input type="password" placeholder="Contraseña">
                            <a class="btn" href="#"><button>Acceder</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="popup2" class="caja-popup">
                <div class="popup">
                    <div class="foto6">
                        <img src="https://wallpapercave.com/wp/wp5866377.jpg">
                    </div>
                    <div class="datos">
                        <img src="/sources/logofinal2.png">
                        <a href="#" class="cerrar">&times;</a>
                        <div class="linea">
                            <a href="#popup1">Iniciar sesión</a>
                            <a>Registrarme</a>
                        </div>
                        <div class="contenido">
                            <input type="email" placeholder="Introduce tu correo electrónico">
                            <input type="text" placeholder="Nombre de usuario">
                            <input type="password" placeholder="Contraseña">
                            <input type="password" placeholder="Confirmar Contraseña">
                            <a class="btn" href="#"><button>Registrarme</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </header>

</div>


<script>
    class Color {
        constructor(barra, bajar){
            this.barra = barra
            this.bajar = bajar
        }

        cambiaColor(){
            document.addEventListener("scroll", () => {
                let bajar = window.scrollY;
                (bajar >= 0 && bajar <= 1) ? this.barra.setAttribute("class", "header")
                : this.barra.setAttribute("class", "color-negro")
            })
        }
    }
    let barra = document.querySelector(".header")
    let bajar = window.scrollY
    const color = new Color(barra, bajar)
    color.cambiaColor()
</script>