<div class="paginanav">
    <header class="header">   
        <nav>
            <input type="checkbox" id="menu">
            <label for="menu"> ☰</label>
            <ul class="links">
                <li><a href="/">Inicio</a></li> 
                <li><a href="/vermaszapas">Más modelos</a></li>  
                <li><a href="/vistamarcas">Marca</a></li> 
            </ul>
        </nav>

        <div class="logotipo">
            <div class="logo">
                <img src="/sources/logofinal1.png">
            </div>
            <div class="logotipo2">
                <img src="/sources/logofinal2.png">
            </div>
        </div>


        <% if (login) { %>
            <h1 class="saludo">Bienvenido, <%= username %> <a href="/logout" class="out"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></h1>
        <% } else { %>
            <div class="boton1">
                <a class="btn" href="#popup1"><button>Iniciar sesión</button></a>
                <div id="popup1" class="caja-popup">
                    <div class="popup">
                        <div class="foto6">
                            <img src="https://wallpaper-house.com/data/out/12/wallpaper2you_487130.jpg">
                        </div>
                        <div class="datos">
                            <img src="/sources/logofinal2.png">
                            <a href="#" class="cerrar">&times;</a>
                            <div class="linea">
                                <a>Iniciar sesión</a>
                                <a href="#popup2">Registrarme</a>
                            </div>
                            <div class="contenido">
                                <form action="/login" method="POST">
                                    <input type="text" name="username" placeholder="Nombre de usuario" required>
                                    <input type="password" name="contraseña" placeholder="Contraseña" required>
                                    <a class="btn" type="submit"><button>Acceder</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="popup2" class="caja-popup">
                    <div class="popup">
                        <div class="foto6">
                            <img src="https://wallpapercave.com/wp/wp5866377.jpg">
                        </div>
                        <div class="datos">
                            <img src="/sources/logofinal2.png">
                            <a href="#" class="cerrar">&times;</a>
                            <div class="linea">
                                <a href="#popup1">Iniciar sesión</a>
                                <a>Registrarme</a>
                            </div>
                            <div class="contenido">
                                <form id="registerForm" action="/register" method="POST">
                                    <input type="email" name="gmail" placeholder="Introduce tu correo electrónico" required>
                                    <input type="text" name="username" placeholder="Nombre de usuario" required>
                                    <input type="password" name="contraseña" placeholder="Contraseña" required>
                                    
                                    <a class="btn" type="submit"><button>Registrarme</button></a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        <% } %> 


        
    </header>

</div>

<script>
    class Color {
        constructor(barra, bajar){
            this.barra = barra
            this.bajar = bajar
        }

        cambiaColor(){
            document.addEventListener("scroll", () => {
                let bajar = window.scrollY;
                (bajar >= 0 && bajar <= 1) ? this.barra.setAttribute("class", "header")
                : this.barra.setAttribute("class", "color-negro")
            })
        }
    }
    let barra = document.querySelector(".header")
    let bajar = window.scrollY
    const color = new Color(barra, bajar)
    color.cambiaColor()






    document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(this);
    const data = Object.fromEntries(formData.entries());

    fetch('/register', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(result => {
      if (result.redirect === "/logout") {
        Swal.fire({
          icon: 'warning',
          title: 'Datos incorrectos',
          text: result.message,
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          window.location.href = result.redirect;
        });
      } else {
        Swal.fire({
          icon: 'success',
          title: 'Datos correctos',
          text: result.message,
          showConfirmButton: false,
          timer: 2000
        }).then(() => {
          window.location.href = result.redirect;
        });
      }
    })
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>