<body class="cuerpo">
    <div class="body1">
        <div class="gif1">
            <img src="/sources/jordan.webp">
        </div>
        <div class="popu">
            <h1>Marcas Populares</h1>
            <div class="marcapopu">
                <img src="https://i.pinimg.com/736x/00/5b/fd/005bfd8f692fd971c3bf0097931f2e85.jpg">
                <img src="https://i.ebayimg.com/images/g/5OgAAOSwkgVhNBhJ/s-l1200.webp">
                <img src="https://media.designrush.com/inspiration_images/136124/conversions/_1519762849_545_990__1513771354_519_louis-v1_b31600c58738-mobile.jpg">
                <img src="https://0aa034e5fd.clvaw-cdnwnd.com/03d4ac49f28cc8972d61ceff71aa712a/200002323-9e1fc9e1ff/jordan.jpg?ph=0aa034e5fd">
            </div>
        </div>

        <div class="modelos">
            <h1>Modelos más populares</h1>
            <div class="modelopopu">
                <div class="producto1">
                    <div><img src="https://drop-shop.mx/cdn/shop/products/image_1381b66e-e759-4d08-934c-fb84ff55b436_1200x1200.png?v=1681934300" width="210px"></div>
                    <h2>Air Force x travis Scott</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2F930155-003%2F2.png&w=3840&q=75" width="210px"></div>
                    <h2>Air Force x travis Scott</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://www.solestage.com/cdn/shop/products/solestage_AQ0818148-0681_767x.png?v=1669177487" width="210px"></div>
                    <h2>Air Force x travis Scott</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://restocks.net/_next/image/?url=https%3A%2F%2Fcdn.restocks.net%2Fcdn-cgi%2Fimage%2Fwidth%3D1000%2Fstorage%2Fimages%2Fproducts%2FDZ1382-001%2F2.png&w=3840&q=75" width="210px"></div>
                    <h2>Air Force x travis Scott</h2>
                    <p>365€</p>
                </div>

                <div class="producto1">
                    <div><img src="https://www.nocapmarket.com/img/products/2552/2-2-.png" width="210px"></div>
                    <h2>Air Force x travis Scott</h2>
                    <p>365€</p>
                </div>
            </div>
        </div>
    </div>
</body>