.cuerpo
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    background-image: url("https://img.freepik.com/fotos-premium/fondo-textura-cartel-papel-arrugado-arrugado-blanco-blanco_293060-4178.jpg")
    background-size: 100%
    z-index: 1
    .body1
        display: flex
        flex-direction: column
        align-items: center
        border: none
        color: black
        height: 1200px
        width: 100%
        margin-top: 250px
        .popu
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border: none
            width: 100%
            height: 400px
            .marcapopu
                justify-content: space-between
                img
                    width: 250px
                    height: 180px
                    margin: 20px
                    &:hover
                        transition: .5s
                        cursor: pointer
                        opacity: 0.5
        .modelos, .popu
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border: none
            width: 1200px
            height: 500px
            .titulo
                display: flex
                flex-direction: row
                justify-content: space-between
                border: none
                width: 95%
                i
                    border: none
                    height: 100%
                    width: 65px
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 25px
                    cursor: pointer
                    &:hover
                        font-size: 35px
                        transition: .5s
            .modelopopu
                display: flex
                flex-direction: row
                justify-content: space-between
                color: black
                a
                    color: black
                    text-decoration: none
                .producto1
                    border: 1px solid
                    width: 210px
                    height: 280px
                    margin: 10px
                    display: flex
                    flex-direction: column
                    align-items: center
                    border: 1px solid grey
                    background: #00000018
                    box-shadow: 2px 2px 2px grey
                    background-size: 100% 100%
                    background-repeat: no-repeat   
                    cursor: pointer
                    &:hover
                        transition: .5s
                        box-shadow: 7px 7px 9px black             
                    h2
                        font-size: 18px
                        margin-top: 10px
                        text-align: center
                        border: none
                        height: 25%
                        width: 95%
                        font-family: 'Josefin Sans', sans-serif
                    h3
                        font-size: 13px
                        
                        border: none
                    p
                        border: none
                        font-size: 30px
                        font-family: 'Josefin Sans', sans-serif


.gif1
    position: absolute
    z-index: 0 !important
    border: none
    top: 120px 
    left: 280px
    
    img
        width: 800px
        height: 480px
        opacity: 1
        border: none
        