.cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url("https://img.freepik.com/fotos-premium/fondo-textura-cartel-papel-arrugado-arrugado-blanco-blanco_293060-4178.jpg");
  background-size: 100%;
  z-index: 1;
}
.cuerpo .body1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  color: black;
  height: 1200px;
  width: 100%;
  margin-top: 250px;
}
.cuerpo .body1 .popu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 400px;
}
.cuerpo .body1 .popu .marcapopu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cuerpo .body1 .popu .marcapopu .fotos {
  position: relative;
}
.cuerpo .body1 .popu .marcapopu .fotos img {
  width: 250px;
  height: 180px;
  margin: 20px;
}
.cuerpo .body1 .popu .marcapopu .fotos .foto2 {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
}
.cuerpo .body1 .popu .marcapopu .fotos .foto2 h1 {
  position: absolute;
  bottom: 25px;
  left: 20px;
  text-align: center;
  width: 250px;
  background: black;
  color: white;
  opacity: 0.7;
}
.cuerpo .body1 .popu .marcapopu .fotos:hover .foto1 {
  opacity: 0;
}
.cuerpo .body1 .popu .marcapopu .fotos:hover .foto2 {
  opacity: 1;
}
.cuerpo .body1 .modelos, .cuerpo .body1 .popu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 1200px;
  height: 500px;
}
.cuerpo .body1 .modelos .titulo, .cuerpo .body1 .popu .titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  width: 95%;
}
.cuerpo .body1 .modelos .titulo .vermas, .cuerpo .body1 .popu .titulo .vermas {
  border: none;
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, black 50%);
  background-position: left bottom;
  background-size: 200% 100%;
  transition: all 0.5s ease-out;
  transition-timing-function: linear;
}
.cuerpo .body1 .modelos .titulo .vermas h1, .cuerpo .body1 .popu .titulo .vermas h1 {
  font-size: 20px;
}
.cuerpo .body1 .modelos .titulo .vermas:hover, .cuerpo .body1 .popu .titulo .vermas:hover {
  background-position: right bottom;
  color: white;
}
.cuerpo .body1 .modelos .titulo .vermas i, .cuerpo .body1 .popu .titulo .vermas i {
  border: none;
  height: 100%;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  color: black;
  background: none;
  margin-right: 0;
}
.cuerpo .body1 .modelos .titulo .vermas:hover i, .cuerpo .body1 .popu .titulo .vermas:hover i {
  transition: 0.5s;
  color: white;
}
.cuerpo .body1 .modelos .modelopopu, .cuerpo .body1 .popu .modelopopu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.cuerpo .body1 .modelos .modelopopu a, .cuerpo .body1 .popu .modelopopu a {
  color: black;
  text-decoration: none;
}
.cuerpo .body1 .modelos .modelopopu .producto1, .cuerpo .body1 .popu .modelopopu .producto1 {
  border: 1px solid;
  width: 210px;
  height: 280px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  background: rgba(0, 0, 0, 0.0941176471);
  box-shadow: 2px 2px 2px grey;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.cuerpo .body1 .modelos .modelopopu .producto1:hover, .cuerpo .body1 .popu .modelopopu .producto1:hover {
  transition: 0.5s;
  box-shadow: 7px 7px 9px black;
  background: rgba(0, 0, 4, 0);
}
.cuerpo .body1 .modelos .modelopopu .producto1 .modelo, .cuerpo .body1 .popu .modelopopu .producto1 .modelo {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  border: none;
  height: 25%;
  width: 95%;
  font-family: "Josefin Sans", sans-serif;
}
.cuerpo .body1 .modelos .modelopopu .producto1 .marca, .cuerpo .body1 .popu .modelopopu .producto1 .marca {
  font-size: 13px;
  border: none;
}
.cuerpo .body1 .modelos .modelopopu .producto1 .precio, .cuerpo .body1 .popu .modelopopu .producto1 .precio {
  border: none;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
}
.cuerpo .body1 .modelos .modelopopu .producto1 .fotos, .cuerpo .body1 .popu .modelopopu .producto1 .fotos {
  position: relative;
}
.cuerpo .body1 .modelos .modelopopu .producto1 .fotos .foto2, .cuerpo .body1 .popu .modelopopu .producto1 .fotos .foto2 {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
}
.cuerpo .body1 .modelos .modelopopu .producto1 .fotos:hover .foto1, .cuerpo .body1 .popu .modelopopu .producto1 .fotos:hover .foto1 {
  opacity: 0;
}
.cuerpo .body1 .modelos .modelopopu .producto1 .fotos:hover .foto2, .cuerpo .body1 .popu .modelopopu .producto1 .fotos:hover .foto2 {
  opacity: 1;
}

.gif1 {
  position: absolute;
  z-index: 0 !important;
  border: none;
  top: 120px;
  left: 280px;
}
.gif1 img {
  width: 800px;
  height: 480px;
  opacity: 1;
  border: none;
}

@media screen and (max-width: 700px) {
  .cuerpo {
    width: 100%;
    background-image: url("https://img.freepik.com/fotos-premium/fondo-textura-cartel-papel-arrugado-arrugado-blanco-blanco_293060-4178.jpg");
    background-size: 400px;
  }
  .cuerpo .body1 {
    width: 100%;
    height: 2500px;
    border: none;
    margin-top: 10px;
  }
  .cuerpo .body1 .popu {
    width: 100%;
    height: 800px;
    border: none;
    margin-bottom: 50px;
  }
  .cuerpo .body1 .popu .marcapopu {
    flex-direction: column;
  }
  .cuerpo .body1 .popu .marcapopu .fotos img {
    width: 200px;
    height: 150px;
    margin: 10px;
  }
  .cuerpo .body1 .popu .marcapopu .titulo {
    width: 90%;
    border: none;
  }
  .cuerpo .body1 .modelos {
    width: 100%;
    height: 1500px;
    border: none;
  }
  .cuerpo .body1 .modelos .modelopopu {
    flex-direction: column;
  }
  .cuerpo .body1 .modelos .titulo {
    width: 90%;
    border: none;
  }
  .gif1 {
    left: 30px;
  }
  .gif1 img {
    width: 300px;
    height: 150px;
  }
}/*# sourceMappingURL=principal.css.map */