.vistasneakers {
  border: none;
}
.vistasneakers .compra {
  display: flex;
  flex-direction: row;
  border: none;
  margin-top: 22%;
  width: 100%;
  height: 500px;
}
.vistasneakers .compra .informacion {
  width: 100%;
  height: 500px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vistasneakers .compra .informacion .info2 {
  width: 50%;
  height: 400px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.vistasneakers .compra .informacion .info2 .fotomodelo {
  width: 50%;
  height: 500px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vistasneakers .compra .informacion .info2 .fotomodelo img {
  width: 500px;
  border: none;
  align-items: center;
}
.vistasneakers .compra .informacion .info {
  width: 50%;
  height: 400px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.vistasneakers .compra .informacion .info p {
  color: white;
}
.vistasneakers .compra .informacion .info #_descripcion {
  display: none;
  font-size: 10px;
}
.vistasneakers .compra .informacion .info #_precio {
  display: none;
}
.vistasneakers .compra .informacion .info .modelo {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
.vistasneakers .compra .informacion .info .marca {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.vistasneakers .compra .informacion .info .texto {
  font-size: 17px;
  border: none;
  width: 80%;
}
.vistasneakers .compra .informacion .info .popup3 {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 50%;
  border: none;
}
.vistasneakers .compra .informacion .info .popup3 #botoncomprar {
  font-weight: 1000;
  color: white;
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100px;
  height: 25px;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin-left: 50px;
  text-decoration: none;
}
.vistasneakers .compra .informacion .info .popup3 #botoncomprar:hover {
  transition: 0.5s;
  background: whitesmoke;
  color: black;
  border: 2px solid white;
  box-shadow: 2px 2px 5px black;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup {
  position: fixed;
  z-index: 1 !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s;
  visibility: hidden;
  opacity: 0;
  border: none;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup:target {
  visibility: visible;
  opacity: 1;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 {
  background: white;
  color: black;
  border-radius: 5px;
  width: 30%;
  height: 45%;
  position: relative;
  z-index: 1 !important;
  left: 35%;
  top: 15%;
  border: none;
  box-shadow: 8px 8px 16px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .cerrar {
  position: absolute;
  top: 12px;
  right: 20px;
  transition: 0.3s;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .cerrar:hover {
  color: tomato;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 h1 {
  border: none;
  margin-top: 40px;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .recibo {
  border: none;
  width: 70%;
  height: 70%;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .recibo form #_talla {
  background: white;
  color: black;
  border: 1px solid grey;
  border-radius: 3px;
  width: 120px;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .recibo form button {
  background: black;
  color: white;
  width: 60px;
  height: 18px;
  border: none;
  border-radius: 5px;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .recibo a button {
  font-weight: 1000;
  color: white;
  padding: 9px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100px;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin-left: 80px;
  margin-top: 40px;
  text-decoration: none;
}
.vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .recibo a button:hover {
  transition: 0.5s;
  background: whitesmoke;
  color: black;
  border: 2px solid white;
  box-shadow: 2px 2px 5px black;
}

.gif4 {
  position: absolute;
  z-index: 0 !important;
  border: none;
  top: 50px;
  left: 280px;
}
.gif4 img {
  width: 800px;
  height: 490px;
  opacity: 1;
  border: none;
}

body {
  background-image: url("https://img.freepik.com/fotos-premium/fondo-textura-cartel-papel-arrugado-arrugado-blanco-blanco_293060-4178.jpg");
  background-size: 100%;
}

@media screen and (max-width: 700px) {
  .vistasneakers .gif4 {
    top: 100px;
    left: 1px;
  }
  .vistasneakers .gif4 img {
    width: 350px;
    height: 175px;
  }
  .vistasneakers .compra {
    margin-top: 5px;
    height: 800px;
  }
  .vistasneakers .compra .informacion {
    border: none;
    height: 800px;
  }
  .vistasneakers .compra .informacion .info2 {
    display: none;
  }
  .vistasneakers .compra .informacion .info {
    border: none;
    width: 100%;
    height: 800px;
  }
  .vistasneakers .compra .informacion .info .modelo {
    border: none;
    width: 300px;
  }
  .vistasneakers .compra .informacion .info .texto {
    border: none;
    width: 300px;
  }
  .vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 {
    width: 80%;
    left: 10%;
  }
  .vistasneakers .compra .informacion .info .popup3 .cajon-popup .popup6 .recibo a button {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1800px) {
  .vistasneakers .gif4 {
    top: 100px;
    left: 550px;
  }
}/*# sourceMappingURL=vistazapas.css.map */